/****** navigation ******/
header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 70px;
}

nav {
    margin: 0;
    padding 0;
    padding-left: 40px;
    padding-right: 40px;
    text-align: right;
    height:70px;
    background-color: lightgrey;
}

.nav-bar {
    padding: 20px;
    font-family: "Helvetica";
    text-decoration: none;
    position: relative;
    top: 50%;
}

.logo {
    padding: 0;
    font-family: monospace;
    font-size: 36pt;
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
}

/****** main content ******/
body {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
}

div {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

button {
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 30px auto; 
}

/****** home ******/
#home-banner-img {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

#home-banner {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#featured {
    text-align: center;
}

#featured-items {
    width: 60%;
    border-spacing: 5px;
    margin: 0 auto;
}

/****** items *******/

.item {
    margin: 30px;
}

.shop-item-picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.color-selection-view {
    height: 20px;
    width: 120px;
    margin: 15px auto;
    background: #D0026B;
}

.item-name-browsing {
    text-align: center;
}

.item-price-browsing {
    text-align: center;
}

/****** shop ******/

#shop {
    text-align: center;
    border-spacing: 5px;
    margin-left: auto;
}

#filter-menu {
    background-image: linear-gradient(grey 15%, white 75%);
    width: 260px;
    height: 100%;
    background-color: grey;
    padding-top: 60px;
}


#filter-selections {
    height: 30px;
}