/****** navigation ******/
header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-bottom: 1.5px solid #81A632;
}

nav {
    width: 80%;
    margin: 0 auto;
    height: 50px;
    padding: 10px 15px;
    text-align: right;
    background-color: #F2F2F2;
}

.nav-bar {
    text-decoration: none;
    color: #81A632;
    top: 50%;
    position: relative;
    padding: 0px 0px 0px 60px;
    text-align: center;
    font-size: 14pt
}

.logo {
    float: left;
    font-size: 48px;
    padding: 0;
    margin: 0;
    color: #81A632;
}

/****** main content ******/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F2F2F2;
}

div {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

button {
    padding: 10px 20px 10px 20px;
    text-align: center;
    background-color: #81A632;
    color: #F2F2F2;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 30px auto; 
}

.primary-background {
    background-color: #81A632;
}

.primary-text {
    color: #81A632;
}

.secondary-background {
    background-color: #F2811D;
}

.secondary-text{
    color: #F2811D;
}

.tertiary-background {
    background-color: #EBF2DC;
}

.tertiary-text {
    color: #EBF2DC;
}


/****** items *******/
.item {
    display: inline-block;
    margin: 20px 40px;
}

.shop-item-picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.color-selection-view {
    height: 20px;
    width: 120px;
    margin: 15px auto;
    background: #D0026B;
}

.item-name-browsing {
    text-align: center;
}

.item-price-browsing {
    text-align: center;
}

/****** home ******/
#home-banner-img {
    height: auto;
    transform: translateY(-35%);
    width: 100%;
    margin: 0;
    padding: 0;
}

#home-banner {
    width: 100%;
    overflow: hidden;
    margin: 0px 0px 20px 0px;
    padding: 0;
    height: 60%;
    border-bottom: 1.5px solid #81A632;
}

#featured {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1.5px solid #81A632;
}

#featured-items {
    width: 60%;
    border-spacing: 5px;
    margin: 0 auto;
}

/****** shop ******/

#shop {
    text-align: center;
    border-spacing: 5px;
    margin-left: auto;
}

#filter-menu {
    background-image: linear-gradient(#EBF2DC 10%, #F2F2F2 60%);
    width: 260px;
    height: 100%;
    margin: 0px 0px 0px 0px;
    background-color: grey;
    padding-top: 60px;
}

#filter-selections {
    height: 30px;
}

#top-bar {
    color: F2F2F2;
    text-align: center;
}

.row {
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    padding: 0;
    margin: 0;
}

footer {
    padding: 30px;
    color: #81A632;
    text-align: center;
}

#footer-content {
    margin: 0 auto;
}
