/************************/
/****** navigation ******/
/************************/

header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-bottom: 1.5px solid #81A632;
}

#top-bar {
    color: #F2F2F2;
    text-align: center;
}

nav {
    width: 80%;
    margin: 0 auto;
    height: 50px;
    padding: 10px 15px;
    text-align: right;
    background-color: #F2F2F2;
}

.nav-bar {
    color: #81A632;
    position: relative;
    padding: 0px 0px 0px 60px;
    text-align: center;
    font-size: 14pt;
    top: 30%;
}

.logo {
    float: left;
    font-size: 48px;
    padding: 0;
    margin: 0;
    color: #81A632;
}

/**************************/
/****** main content ******/
/**************************/

body {
    margin: 0px;
    padding: 0;
    height: 100%;
    background-color: #F2F2F2;
}

a {
    color: #F2F2F2;
    text-decoration: none;
}

div {
    margin: 0;
    padding: 0;
    
}

h2 {
    font-size: 36px;
    padding: 0;
    margin: 30px;
}

p {
    color: #013220;
}

button {
    cursor: pointer;   
}

.primary-background {
    background-color: #81A632;
}

.primary-text {
    color: #81A632;
}

.secondary-background {
    background-color: #F2811D;
}

.secondary-text{
    color: #F2811D;
}

.tertiary-background {
    background-color: #EBF2DC;
}

.tertiary-text {
    color: #EBF2DC;
}

/********************/
/****** footer ******/
/********************/

footer {
    margin: 20px 0px 0px 0px;
    padding: 30px;
    text-align: center;
    border-top: 1.5px solid #81A632;
}

#footer-content {
    margin: 0 auto;
    color: #81A632;
}

.footer-link {
    color: #81A632;
}

/********************/
/****** items *******/
/********************/


.color-selection-view {
    margin: 15px auto 5px;;
}

.item-name-browsing {
    text-align: center;
    margin: 5px 0px 2px 0px;
    font-size: 20px;
    color: #81A632;
    font-weight: bold;
}

.item-price-browsing {
    text-align: center;
    font-size: 18px;
    color: #013220;
}

/******************/
/****** home ******/
/******************/

#home-banner-img {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;

}

#home-banner {
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    border-bottom: 1.5px solid #81A632;
    background-image: url("Assets/Stock-Images/jorge-flores-98842-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
}

#featured {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 60px;
    text-align: center;
    margin: 0px auto;
    width: 80%;
}

.featured-item-1 {
    grid-row: 2 / span 1;
    grid-column: 1;
}

.featured-title {
    text-align: center;
    grid-column: 2/3;
}

.featured-item-2 {
    grid-row: 2 / span 1;
    grid-column: 2;
}

.featured-item-3 {
    grid-row: 2 / span 1;
    grid-column: 3;
}

#see-more {
    text-align: center;
    grid-column: 2/3;
    grid-row: 3;
    padding: 10px 40px;
    background-color: #81A632;
    color: #F2F2F2;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 30px auto; 
}

/******************/
/****** shop ******/
/******************/

#shop-page {
    display: flex;
}

#filter-menu {
    width: 25%;
    background-image: linear-gradient(#EBF2DC 40%, #F2F2F2 60%);
    margin: 0px 0px 0px 0px;
    padding-top: 60px;
}

.top-filter {
    padding: 0px 10px;
}

.filter-sub-menu {
    text-align: left;
    padding: 20px;
    background-color: #EBF2DC;
}

.expand-filter{
    float: right;
}

#shop-content {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 80px 60px auto auto;
    grid-gap: 15px;
    text-align: center;
    margin: 20px auto;
    padding: 0px;
}

#shop-heading {
    text-align: center;
    grid-column: 2/3;
}

#filter-selection {
    display: none;
    text-align: left;
    padding: 0px 50px;
    grid-row: 2;
    grid-column: 1 / 3;
}

#shop-item-1 {
    margin: 0px auto;
    grid-row: 3 / span 1;
    grid-column: 1;
}

#shop-item-2 {
    margin: 0px auto;
    grid-row: 3 / span 1;
    grid-column: 2;
}

#shop-item-3 {
    margin: 0px auto;
    grid-row: 3 / span 1;
    grid-column: 3;
}

#shop-item-4 {
    margin: 0px auto;
    grid-row: 4 / span 1;
    grid-column: 1;
}

#shop-item-5 {
    margin: 0px auto;
    grid-row: 4 / span 1;
    grid-column: 2;
}

#shop-item-6 {
    margin: 0px auto;
    grid-row: 4 / span 1;
    grid-column: 3;
}

/***********************/
/****** Item Page ******/
/***********************/


.item-page-img {
    width: 500px;
}

.item-view {
    margin: 0 auto;
    grid-row: 2 / span 1;
    grid-column: 1;
}

h3 {
    font-size: 24px;
}

#item-page-info {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}

#recommened-items {
    text-align: center;
    margin: 0 auto;
    grid-row: 3;
    grid-column: 2;
}

.item-price {
    text-align: center;
    margin: 0 auto;
    color: #013220;
    font-size: 24px;
    margin: 0;
}

.item-name {
    text-align: center;
    margin: 0 auto;
    font-size: 42px;
    color: #81A632;
    font-weight: bold;
}



#item-page-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px auto auto;
    grid-gap: 5px;
    margin: 0 auto;
    padding: 0px;
}



#size-selections {
    color: #013220;
    margin: 10px 10px 10px 30px;
    text-align: left;
}

#recommend-item-1 {
    float: left;
    text-align: center;
    margin: 15px 30px;
    grid-row: 4;
    grid-column: 2;
    display: inline-block;
}

#recommended-item-2 {
    display: inline-block;
    text-align: center;
    float: right;
    margin: 15px 30px;
    grid-row: 4;
    grid-column: 2;
}



#color-selection {
    margin: 100px 10px 10px 30px;
    color: #013220;
    width: 80%;
    text-align: left;
}

#item-details {
    grid-row: 3;
    grid-column: 1;
    width: 500px;
}

#item-description {
    width: 500px;
    margin: 20px auto;
    grid-row: 3;
    grid-column: 1;
}

.preview-strawberry {
    display: inline-block;
    background-color: #FC5A8D;
    height: 20px;
    width: 30px;
}

.preview-blackberry {
    display: inline-block;
    background-color: #4D0036;
    height: 20px;
    width: 30px;
}

.preview-crazberry {
    display: inline-block;
    background-color: #950714;
    height: 20px;
    width: 30px;  
}

.preview-fire-orange {
    display: inline-block;
    background-color: #E38C2D;
    height: 20px;
    width: 30px;
}

.item-coloring {
    background-image: linear-gradient(#F2F2F2 40%, #EBF2DC 60%);
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
}

.select-strawberry {
    display: inline-block;
    background-color: #FC5A8D;
    height: 40px;
    width: 50px;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); 
}


.select-blackberry {
    display: inline-block;
    background-color: #4D0036;
    height: 40px;
    width: 50px;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); 
}

.select-crazberry {
    display: inline-block;
    background-color: #950714;
    height: 40px;
    width: 50px;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); 
}

.select-fire-orange {
    display: inline-block;
    background-color: #E38C2D;
    height: 40px;
    width: 50px;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); 
}

.action-button {
    padding: 10px 20px 10px 20px;
    text-align: center;
    background-color: #81A632;
    color: #F2F2F2;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0px 20px 0px; 
}

.select-tiny {
    padding: 10px 20px;
    margin: 10px 0px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); 
    font-size: 14px;
}

.select-small {
    padding: 10px 20px;
    margin: 10px 0px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); 
    font-size: 14px;
}

.select-medium {
    padding: 10px 20px;
    margin: 10px 0px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); 
    font-size: 14px;
}

.select-large {
    padding: 10px 20px;
    margin: 10px 0px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); 
    font-size: 14px;
}

.other-image {
    opacity: 0.6;
    display: inline-block;
    margin: 15px auto;
    height: 60px;
    width: 80px;
    background-color: grey;
}



.arrow-image-roll {
    display: inline-block;
    margin: 15px 15px;
    height: 60px;
    width: 50px;
    background-color: grey;
}

.image-choice {
    margin: 0 auto;
}

.cart {
    padding: 15px 30px 15px 30px;
    text-align: center;
    background-color: #81A632;
    color: #F2F2F2;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
    font-size:18px;
    margin: 10px 70px 50px 0px;
}

.image-wheel {
    text-align: center;
}

.star {
    margin: 10px 0px 5px 0px;
    display: inline-block;
    font-size: 24px;
    color: #F2811D;
}

.rating {
    color: #F2811D;
}

.all-reviews {
    height: 15px;
    margin: 0px 0px 5px 0px;
    color: #ACBF84;
    font-size: 18px;
}

.write-reviews {
    color: #F2811D;
    font-size: 14px;
}



#welcome {
    width: 100%;
    height: 50%;
    position: relative;
    padding-bottom: 56.25%
}

.shop-dog-harness-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    content: url("Assets/Items/dog-leash-shop.jpg");
}

.shop-cat-harness-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    content: url("Assets/Items/dog-leash-shop.jpg");
}

.shop-gps-tracker-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    content: url("Assets/Items/dog-leash-shop.jpg");
}

.shop-food-attachment-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    content: url("Assets/Items/dog-leash-shop.jpg");
}

.shop-water-attachment-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    content: url("Assets/Items/dog-leash-shop.jpg");
}

.shop-cat-backpack-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    content: url("Assets/Items/dog-leash-shop.jpg");
}
